@{
    ViewBag.Title = "About project";
}

<p>
    <strong>
        In this program I applied cryptography, used ASP.NET MVC<br />
        I implemented encoding and decoding.<br />
    </strong>
</p>
<ul>
    <li>Ceasar cipher.</li>
    <li> Vigenere cipher.</li>
</ul>
