body {
    background-image: url(../pict/piccipher.jpg);
    padding-top: 50px;
    padding-bottom: 20px;
}
li {
    font: bold 17px serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
    width: 450px;
    height: 100px;
    border-radius: 3px;
    transition: 2.0s all;
}

    textarea:hover {
        background-color: #c8c8c8;
    }

#buttonEncode {
    display: block;
    width: 60px;
    height: 32px;
    padding: 0px;
    /*float: right;*/
    top: -356px;
    /*margin-left: 460px;               this
    position: relative;                 this*/
    /*margin-bottom: 17px;*/
    /*top: -350px;                      THIS      */
    /*left:0px;
    right: 0px;
    margin: 0 0 0 auto;*/
    margin-left: 460px;
    position: relative;
    top: -350px;
}
#buttonDecode {
    display: block;
    width: 60px;
    height: 32px;
    padding: 0px;
    margin-top: 95px;
    margin-left: 460px;
    position: relative;
    top: -357px;
}

#labelCipher {
    margin-left: 560px;
    display: block;
    padding: 0px;
    margin-top: -171px;
    position: relative;
    top: -340px;
    margin-bottom: 12px;
}
#labelKey {
    margin-left: 560px;
    display: block;
    padding: 0px;
    /*margin-top: -171px;*/
    position: relative;
    top: -340px;
    margin-bottom: 2px;
    width: 128px;
}
#tbkey {
    margin-left: 560px;
    display: block;
    padding: 0px;
    /*margin-top: -171px;*/
    position: relative;
    top: -340px;
    margin-bottom: 17px;
    width: 128px;
}

input {
    /*max-width: 280px;*/
    border-radius: 3px;
    transition: 2.0s all;
}

    input:hover {
        background-color: #c8c8c8;
    }

#drop {
    margin-left: 560px;
    position: relative;
    top: -350px;
    padding: 5px 10px;
    border-radius: 5px 12px;
    background-color: #e0e0e0;
    font-weight: bold;
}